version: "3.8"

services:
  backend:
    build: ./backend
    container_name: server-monitor-backend
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
    environment:
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - PORT=4000
    networks:
      - monitor-net

  frontend:
    build: ./frontend
    container_name: server-monitor-frontend
    restart: unless-stopped
    ports:
      - "8082:80" # Exposed on 8082 (Host) -> 80 (Container) to avoid conflict with pghero (8080)
    depends_on:
      - backend
    networks:
      - monitor-net

networks:
  monitor-net:
    driver: bridge
